@using GAMES_MARKET.Models;
@model JuegosModel

    <div class="container-fluid">
        <form>



            <div class="form-row my-3">
                <div class="col-7">
                    <div class="input-group-prepend">
                        <input class="form-control form-control-lg " type="text" placeholder="Nombre del título">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                Buscar
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <select class="custom-select custom-select-lg">

                        @foreach (var item in ViewData["GeneroLista"] as List<JuegosModel>)
                        {

                            <option value="@item.id_genero">@item.nombre_genero</option>
                        }

                    </select>
                </div>
                <div class="col">
                    <select class="custom-select custom-select-lg mb-3">

                        @foreach (var item in ViewData["PlataformaLista"] as List<JuegosModel>)
                        {
                            <option value="@item.id_plataforma">@item.nombre_plataforma</option>
                        }

                    </select>
                </div>

            </div>

        </form>

            <div class="row">
                <div class="col-12 p-0">
                    <table id="example" class="table table-image">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"> Cáratula</th>
                                <th scope="col">Plataforma</th>
                                <th scope="col">Título</th>
                                <th scope="col" class="d-none d-md-table-cell">Distribuidor</th>
                                <th scope="col" class="d-none d-md-table-cell">Fecha de lanzamiento</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Rebajas</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewData["Lista"] as List<JuegosModel>)
                            {
                                <tr>
                                    <td class="w-25">
                                        <a href="Game/@item.id_juego"><img src="~/Client/shared/img/gamescover/@item.img_ruta" alt="caratula juego" class="img-thumbnail"></a>
                                    </td>
                                    <td>
                                        <img src="~/Client/shared/img/logos/@item.img_rutaPlataforma" class="game-last-logo" alt="logo plataforma">
                                    </td>
                                    <td>
                                        <a href="Game/@item.id_juego">@item.nombre</a>
                                    </td>
                                    <td class="d-none d-md-table-cell">@item.distribuidora</td>
                                    <td class="d-none d-md-table-cell">@item.fecha_lanzamiento.ToShortDateString()</td>

                                    <td>@item.precio€</td>
                                    <td>@item.descuento%</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


    </div>
