@using GAMES_MARKET.Models;

<h2 class="text-center">Búsqueda de juegos</h2>
<section>
    <form id="formFilter">
        <div class="form-row m-2">
            <div class="form-group col-12 col-md-6">
                <div class="input-group-prepend">
                    <input class="form-control form-control-lg " type="text" placeholder="Nombre del título" id="inputName">
                </div>
            </div>

            <div class=" form-group col-6 col-md-2">
                <select class="custom-select custom-select-lg mb-3" id="selectGender">
                    <option selected value="0">---</option>

                    @foreach (var item in ViewData["GeneroLista"] as List<JuegosModel>)
                    {

                        <option value="@item.id_genero">@item.nombre_genero</option>
                    }

                </select>
            </div>
            <div class="form-group col-6 col-md-2">
                <select class="custom-select custom-select-lg mb-3" id="selectPlatform">
                    <option selected value="0">---</option>

                    @foreach (var item in ViewData["PlataformaLista"] as List<JuegosModel>)
                    {
                        <option value="@item.id_plataforma" data-hook="platform">@item.nombre_plataforma</option>
                    }

                </select>
            </div>
            <div class="form-group col-12 col-md-2"> <button id="btnSearch" class="btn btn-primary btn-lg w-100">Busca</button></div>
        </div>
    </form>

    <div class="container-fluid">
        <div class="row" id="games_list">
            @foreach (var item in Model)
            {
                <div class="col-6 col-md-3">
                    <div class="card bg-light mb-4 shadow-sm">
                        <a href="../Games/Game/@item.id_juego">
                            <img src="../../Client/shared/img/gamescover/@item.img_ruta" class="d-block w-100" alt="@item.nombre">
                        </a>
                        <div class="row card-body">

                            <div class="col-12">
                                <div class="game-last-tittle">
                                    <a href="../Games/Game/@item.id_juego">
                                        <h3 class="card-text">@item.nombre</h3>
                                    </a>
                                </div>
                            </div>

                            <div class="col-6">
                                <img src="~/Client/shared/img/logos/@item.img_rutaPlataforma" class="game-last-logo" alt="@item.nombre_plataforma">
                            </div>
                            <div class="col-6 text-right">
                                <p>@item.distribuidora</p>
                            </div>
                            <div class="col-6 d-none d-md-block">
                                <p>Lanzamiento:</p>
                            </div>
                            <div class="col-6 d-none d-md-block text-right">
                                <p>@item.fecha_lanzamiento.ToShortDateString()</p>
                            </div>

                            <div class="col-6 ">
                                <p>@item.descuento%</p>
                            </div>

                            <div class="col-6 text-right">
                                <p class="game-last-price">@item.precio€</p>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <template data-hook="game_template">
        <div class="col-6 col-md-3">
            <div class="card mb-4 shadow-sm">
                <a href=" " data-hook="img_link">
                    <img src=" " class="d-block w-100" alt="" data-hook="img_game">
                </a>
                <div class="row card-body">

                    <div class="col-12">
                        <div class="game-last-tittle">
                            <a href=" " data-hook="name_link">
                                <h3 class="card-text" data-hook="name_game"></h3>
                            </a>
                        </div>
                    </div>

                    <div class="col-6">
                        <img src="" class="game-last-logo" alt="" data-hook="img_platform">
                    </div>
                    <div class="col-6 text-right">
                        <p data-hook="name_distributor"></p>
                    </div>
                    <div class="col-6  d-none d-md-block">
                        <p>Lanzamiento:</p>
                    </div>
                    <div class="col-6  d-none d-md-block text-right">
                        <p data-hook="release_date"></p>
                    </div>
                    <div class="col-6 ">
                        <p data-hook="discount"></p>
                    </div>

                    <div class="col-6 text-right">
                        <p class="game-last-price" data-hook="price"></p>
                    </div>

                </div>
            </div>
        </div>
    </template>

</section>



