@model GAMES_MARKET.Models.UsuariosModel

@{
    ViewBag.Title = "CambioContrasena";
}

<h2>@ViewBag.Message</h2>
<h2>@ViewBag.Error</h2>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-lg-3 col-lg-4 justify-content-center">
            <h2 class="m-md-3 text-center">Recuperar contraseña</h2>
            <p>Introduce tu correo electrónico y te enviaremos un correo con la contraseña</p>
            <form id="logForm" action="@Url.Content("~/Login/CambioContrasena")" method="post">
                @Html.HiddenFor(d => d.token)
                <div class="form-group">
                    <label>Nueva contraseña</label>
                    @Html.PasswordFor(d => d.contrasena, new { @class = "form-control text-danger" })
                    @Html.ValidationMessageFor(d => d.contrasena, null)

                    <label>Vuelve a escribir la contraseña</label>
                    @Html.PasswordFor(d => d.contrasena2, new { @class = "form-control text-danger" })
                    @Html.ValidationMessageFor(d => d.contrasena2, null)
                </div>
                <button>Recuperar</button>
            </form>
        </div>
    </div>
</div>